.timer-container {
  width: 100%;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
}

.clock {
  font-family: sans-serif;
  font-size: 45px;
}
.controls button {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}
